<div class="header_inner">
    <div class="logo_wrap">
        <h1 class="logo">
            <a href="/"><img src="" alt="">
                <img src="/images/logo.png" alt="food blog 로고">
            </a>
        </h1>
    </div>
    <div class="gnb_wrap">
        <ul class="gnb">
            <li class="bar"></li>
            <li class="bar"></li>
        </ul>
    </div>
</div>
<nav id="nav">
    <div class="inner">
        <ul class="menu_list">
            <li class="menu"><a href="/recipe/list">Recipe</a></li>
            <li class="menu"><a href="/magazine/list">Magazine</a></li>
            <li class="menu"><a href="/comment/list">Guest Book</a></li>
        </ul>
    </div>
</nav>