:root {
    --primary_org : #ff5f00;
    --primary_blu : #007aff;

    --natural_100: #000;
    --natural_80: #161616;
    --natural_70: #1d1d1d;
    --natural_60: #646464;
    --natural_50: #8d8d8d;
    --natural_40: #dedede;
    --natural_30: #DEE2E6;
    --natural_20: #E9ECEF;
    --natural_10: #F2F4F6;
    --natural_0: #fff;

    --space_xxlg  : 100px;
    --space_xlg  : 64px;
    --space_lg : 32px;
    --space_md : 16px;
    --space_sm : 8px;  
    --space_xsm : 4px ;
    
    --font_xlg :34px ;    
    --font_lg : 22px ;
    --font_md : 18px;
    --font_sm : 14px;
    --font_xsm : 10px;    

    --round-lg : 15px;
    --round-md : 10px;
    --round-sm :  5px;

    --header-height: 100px;
}

/* body, html 1rem 정의 ---------------------------------------------------------------*/
html,body { font-size: 16px; } 

/* layput ---------------------------------------------------------------*/
.sec { display: block; position: relative; width: 100%; margin-bottom: var(--space_xxlg);}
.inner { width: 100%; max-width:1280px; position: relative; margin: 0 auto; }

/* layput - youtube iframe*/
.yt_wrap { position: relative; padding-top: 56.25%;}
.yt_wrap.shorts { position: relative; padding-top: 177.25%;}
.yt_wrap iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; border: 0; }


/* font size ---------------------------------------------------------------*/
[class*="fs_"] { font-family: "Pretendard"; font-weight: 400; line-height: 1.4; color: var(--natural_80); }
.fs_xlg { font-size: var(--font_xlg); }
.fs_lg { font-size: var(--font_lg); }
.fs_md { font-size: var(--font_md); }
.fs_sm { font-size: var(--font_sm); }
.fs_xsm { font-size: var(--font_xsm); }

.mb_xlg { margin-bottom: var(--space_xlg); }
.mb_lg { margin-bottom: var(--space_lg); }
.mb_md { margin-bottom: var(--space_md); }
.mb_sm { margin-bottom: var(--space_sm); }
.mb_xsm { margin-bottom: var(--space_xsm); }

/* header ---------------------------------------------------------------*/
#header { width: 100%; position: fixed; top: 0; left: 0; z-index: 800; height: var(--header-height);}
#header .header_inner { display: flex; justify-content: space-between; align-items: center; position: relative; z-index: 800; width: 100%; max-width: calc(100% - 80px); height: 100%; margin: 0 auto; }
#header .logo_wrap { width: 80px; }
#header .logo_wrap img { width: 100%; display: block; transition: .3s;}
#header .logo_wrap.open img { filter:brightness(0) grayscale(1) invert(1); }

#header .gnb_wrap { width: 40px; height: 40px; cursor: pointer;}
#header .gnb_wrap .gnb { display: block; position: relative; width: 100%; height: 100%; transition: .3s;}
#header .gnb_wrap .gnb .bar { width: 100% ; height: 2px ; position: absolute; top: 50%; left: 50%; background-color: var(--natural_80); transition: 0.3s;}
#header .gnb_wrap .gnb .bar:first-child { transform: translate(-50%, -50%); }
#header .gnb_wrap .gnb .bar:last-child { transform: translate(-50%, -50%) rotate(90deg); }

#header .gnb_wrap.open .gnb { transform: rotate(-135deg) !important; }
#header .gnb_wrap.open .gnb .bar { background-color: var(--natural_0); }

#header #nav { display: block; position: fixed; top: 0; left: 0; z-index: 700; width: 100%; height: 100vh; background-color: var(--primary_blu); transform: translateY(-100%); }
#header #nav .inner { display: flex; align-items: center; height: 100%;}
#header #nav .menu_list { display: flex; flex-direction: column; gap: var(--space_md);}
#header #nav .menu_list .menu { position: relative; width: fit-content; }
#header #nav .menu_list .menu a{ color:var(--natural_0); font-size: 80px; font-weight: bold;}
#header #nav .menu_list .menu::after { content: ''; display: block; position: absolute; bottom: 0px; left: 0; width: 0; height: 3px ; transition: .3s; background-color: var(--natural_0);}

@media (hover:hover) and (pointer:fine){
    #header .gnb_wrap:hover .gnb { transform: rotate(-180deg); }
    #header #nav .menu_list .menu:hover::after { width: 100%; }
}

/* footer ---------------------------------------------------------------*/
#footer { width: 100%; background-color: var(--primary_org); } 
#footer .footer_inner { padding: 30px 40px 80px 40px; }
#footer .ft-logo { width: 150px; margin-bottom: var(--space_md); filter: grayscale(1) brightness(0) invert(1); opacity: .8; }
#footer .ft-logo img { display: block; width: 100%; }
#footer p { color: var(--natural_0); }

/* index.html : main page css ---------------------------------------------------------------*/
.main .inner {width: 100%; max-width:calc(100% - 80px); position: relative; margin: 0 auto; }
.main .title {font-size: 57.6px; font-weight: 400; margin-bottom: var(--space_md);}

/* index.html : opeening animation */
.main .openning { width: 100%; height: 100vh; background-color: var(--natural_0); position: absolute; top: 0; left: 0; z-index: 800;}
.main .openning .openning-element { background-color: var(--primary_org); width: 200px; height: 0; position: absolute; left: 50%; bottom: var(--space_xlg); }
/* index.html visual */
.main .visual { display: flex; flex-direction: column; justify-content: center; align-items: center; gap:var(--space_lg); height: calc(100vh - var(--header-height));}
.main .visual .visual-tit {position: relative; font-size: 150px; text-align: center; width: 100%; position: relative; line-height: 1;}
.main .visual .visual-img { width: 100%; max-width: 1000px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-54%); z-index: 10;}
.main .visual .visual-img img { width: 100%; display: block; }
.main .visual .letterUp {position: relative; z-index: 20; font-family: "Paperlogy-8ExtraBold"; color: var(--natural_80);}
.main .visual .letterDown {position: relative; z-index: -1; font-family: "Paperlogy-8ExtraBold"; color: var(--natural_80);}

.main .sec-visual .inner { position: relative; z-index: 30;}
.main .sec-visual .txt-box { display: flex; justify-content: space-between; padding-bottom: var(--space_xxlg); margin-top: var(--space_sm); }

/* index.html item-list */
.main .item-list .item { height: 648px; border-top: 1px solid var(--natural_80);}
.main .item-list .item .inner { height: 100%; }
.main .item-layout { padding: 40px 0 40px 20%;  display: flex; justify-content: space-between; height: 100%; }
.main .item-layout .txt-area .fs_md { margin-bottom: var(--space_lg); }
.main .item-layout .txt-area button {width: 180px; height: 50px; border: 1px solid var(--natural_80); transition: .3s; border-radius: 5px; overflow: hidden;}
.main .item-layout .txt-area button a { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: var(--font_md); transition: .3s;}
.main .item-layout .img-area { position: relative; width: 27%; background-color: var(--natural_60); border-radius: 15px; overflow: hidden; transition: ease-out .5s;}
.main .item-layout .img-area a { width: 100%; height: 100%; display: block;}
.main .item-layout .img-area img { height: 100%; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)}

@media (hover :hover) and (pointer : fine){
    .main .item-layout:hover .img-area { width: 50% }
}

@media (hover:hover) and (pointer:fine){
   .main .item-layout .txt-area button:hover { background-color: var(--primary_org); border: 1px solid var(--primary_org);  }
   .main .item-layout .txt-area button:hover a { color: var(--natural_0); }
}


/* sub page css ---------------------------------------------------------------*/
/* .sub { background-color: var(--natural_20); } */
.sub .sub-head { border-bottom: 1px solid var(--natural_80); margin-bottom: var(--space_lg); }
.sub .visual { position: relative; width: 100%; height: 720px; background-color: var(--natural_50); overflow: hidden; margin-bottom: var(--space_lg); border-radius: var(--round-lg);}
.sub .visual img { width: 100%; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.sub .title { margin-bottom: var(--space_md); font-size: var(--font_xlg); color: var(--natural_80); }
.sub .caption { font-size: var(--font_md); color: var(--natural_60); }
.sub .icon_list { width: 800px; margin: 0 auto; display: flex; justify-content: space-between; padding-bottom: var(--space_lg); border-bottom: 2px solid var(--natural_40);} 
.sub .icon_item { width: 100%; max-width: 33.33%; display: flex; flex-direction: column; align-items: center; }
.sub .icon_item img{ margin-bottom: var(--space_md); }
.sub .icon_item p { color: var(--natural_60); }
.sub hr { margin-bottom: var(--space_lg); }
.sub .tc-org { color: var(--primary_org);}
.sub .btn_list { display: flex; }
.sub .submit { width: 250px ; height: 75px; background-color: var(--primary_org) ; color: var(--natural_0); border: none; border-radius: var(--round-lg); font-size: var(--font_lg); font-weight: bold; margin: 0 auto; display: block; cursor: pointer; box-shadow: 0 10px 0 #ac4002; transition: .3s;}
.sub .subtitle_wrap { display: flex; align-items: center; gap: 1rem; }
.sub .btn-sm {  margin-bottom: var(--space_md); display: inline-block; background-color: var(--primary_org);  border-radius: var(--round-sm); box-shadow: 0 5px 0 #ac4002; transition: .3s; cursor:pointer;}
.sub .btn-sm a{  color: var(--natural_0); display: block;width: 100%; height: 100%; padding: 5px 10px; }

.sub .btn-flat {  margin-bottom: var(--space_md); display: inline-block; background-color: var(--primary_blu);;  border-radius: var(--round-sm); box-shadow: 0 5px 0 #093a6e; transition: .3s; transition: .3s; cursor:pointer;}
.sub .btn-flat a{  color: var(--natural_0); display: block;width: 100%; height: 100%; padding: 5px 10px; transition: .3s;}


@media (hover : hover) and (pointer :fine){
    .sub .submit:hover { box-shadow: 0 0 0 #ac4002 ; transform: translateY(10px);}
    .sub .btn-sm:hover { box-shadow: 0 0 0 #ac4002 ; transform: translateY(5px);}
    .sub .btn-flat:hover {box-shadow: 0 0 0 #093a6e; ; transform: translateY(5px);}
}
}
/* reciepDetail.html : sub page css ---------------------------------------------------------------*/
[class*="--recipe_"] .table-list { width: 100%; display: flex; gap: 2rem;  }
[class*="--recipe_"] .table-list li ,.recipe_d .recipe_tb { width: 100%; }
[class*="--recipe_"] .recipe_tb td { padding:15px 5px; text-align: center;}
[class*="--recipe_"] .recipe_tb tr { border-bottom: 1px solid var(--natural_40); }
[class*="--recipe_"] [class*="fs_"] .caption { font-style: italic; }
[class*="--recipe_"] .steps_wrap { width: 100%; }
[class*="--recipe_"] .step_list { display: flex; flex-direction: column; width: 100%;}
[class*="--recipe_"] .step_list .step { display: flex; width: 100%; justify-content: space-between; margin-bottom: var(--space_lg);}
[class*="--recipe_"] .step_list .step [class*="fs_"] { position: relative; padding-left: 50px; }
[class*="--recipe_"] .step_list .step:nth-child(1) [class*="fs_"]::after { content: '1'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
[class*="--recipe_"] .step_list .step:nth-child(2) [class*="fs_"]::after { content: '2'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
[class*="--recipe_"] .step_list .step:nth-child(3) [class*="fs_"]::after { content: '3'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
[class*="--recipe_"] .step_list .step:nth-child(4) [class*="fs_"]::after { content: '4'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
[class*="--recipe_"] .step_list .step:nth-child(5) [class*="fs_"]::after { content: '5'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
[class*="--recipe_"] .step_list .step:nth-child(6) [class*="fs_"]::after { content: '6'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
[class*="--recipe_"] .step_list .step:nth-child(7) [class*="fs_"]::after { content: '7'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
[class*="--recipe_"] .step_list .step:nth-child(8) [class*="fs_"]::after { content: '8'; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; width: 32px; height: 32px; color: var(--natural_0); background-color: var(--primary_org); border-radius: 50%; }
.--recipe_detail .step_list .img-area { position: relative; width: 320px; height: 180px; overflow: hidden; border-radius: var(--round-lg); }
.--recipe_detail .step_list .img-area img {display: block; width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}


/* _save : sub page css ---------------------------------------------------------------*/
[class*="_save"] input, [class*="_save"] textarea, [class*="_save"] select { font-size:var(--font_md)}
[class*="_save"] input:focus, [class*="_save"] textarea:focus, [class*="_save"] select:focus { border: 2px solid var(--primary_org); }
[class*="_save"] .icon_list label { color: var(--natural_60); margin-bottom: var(--space_sm); }
[class*="_save"] .icon_list input { margin-bottom: var(--space_sm); }
[class*="_save"] .title input { font-size: var(--font_xlg); }
[class*="_save"] .caption-txt { width: 100%; padding: 1rem; }


/* _list : sub page css ---------------------------------------------------------------*/
[class*="_list"] .article_list { display: flex; width: 100%; flex-direction: row; gap: 2rem; margin-bottom: var(--space_xlg); flex-wrap: wrap; } 
[class*="_list"] .article-item { width: 100%; max-width: calc(33.33% - 1.5rem); }
[class*="_list"] .article-item .img-area { width: 100%; height: 250px; overflow: hidden; position: relative; border-radius: var(--round-md);}
[class*="_list"] .article-item .img-area img { width: 100%; height: 100%; object-fit: cover;  object-position: center;}

.--guest .comment_wrap { width: 100%; border: 1px solid var(--primary_org); border-radius: var(--round-lg); padding: 40px; background: var(--natural_0); box-shadow: 0px 5px 5px rgba(0,0,0,0.2); margin-bottom: var(--space_lg);}
.--guest .comment_wrap .title-area { width: 100%; padding-bottom: var(--space_md); border-bottom: 1px solid var(--natural_40); }
.--guest .comment_wrap .content-area { width: 100%; padding: var(--space_lg) 0; border-bottom: 1px solid var(--natural_40); }
.--guest .btn_wrap { margin-top: var(--space_md); display: flex; justify-content: flex-end; }
.--guest form { display: flex; flex-direction: column; gap: var(--space_md) }
.--guest form .input_container { display: flex; gap: 2rem  }
.--guest input,.--guest textarea { border: 1px solid var(--natural_40); border-radius: var(--round-md) ;}
.--guest input { font-size: var(--font_lg);}
.--guest textarea { padding: var(--space_md); }



/* break point 1280px*/
@media screen and (max-widht:1280px){
    .inner { padding: 0 16px; }
    .sub .visual { height: 56.25vw;}
}

/* break point 768px*/
@media screen and (max-widht:768px){
    /* body, html 1rem 정의 */
    html,body { font-size: 14px; } 
}

/* break point 420px*/
@media screen and (max-widht:420px){
    /* body, html 1rem 정의 */
    html,body { font-size: 12px; } 
}

