<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=5.0">
    <title>Food Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-myeongjo.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    <header id="header">
        <th:block th:replace="~{/layout/header}"></th:block>
    </header>
    <main id="main" class="sub --magazine_save">
        <form action="/magazine/save" id ="magazine_form" method="post" enctype="multipart/form-data">
        <section class="sec start">
        </section>
       <section class="sec sec01">
        <div class="inner">
            <h2 class="title tc-org" style="font-family: 'NanumMyeongjoBold'; font-style: italic;">
                New Article
            </h2>
            <div class="sub-head"></div>
            <label class="fs_lg" for="m_visualImage">대표 이미지 : </label> <input id="m_visualImage" type="file" name="visualImage" multiple><br><br>
            <h2 class="title">
                <label for="m_title">제목 : </label><input id="m_title" type="text" name="title">
            </h2>
            <textarea name="caption" class="caption-txt" placeholder="글머리를 작성해주세요!" rows="5"></textarea>
        </div>
       </section>
       <section class="sec">
        <div class="inner">
            <hr>
            <textarea name="contentText" class="content caption-txt" placeholder="본문을 작성해주세요!" rows="10" ></textarea>
        </div>
       </section>
       <section class="sec">
        <div class="inner">
            <hr>
            <input type="submit" value="글 등록하기" class="submit">
        </div>
       </section>

       </form>
    </main>
    <footer id="footer">
        <th:block th:replace="~{/layout/footer}"></th:block>
    </footer>
</body>
</html>